.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.japao{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    width: 600px;
    height: 300px;
}

.circulo{
    border-radius: 500px;
    background-color: red;
    width: 150px;
    height: 150px;
   
}
 